*{
    text-align: center;
}
h1{
    padding:20px;
    font-weight: bold;
    background-color: black;
    color:white;
    margin-bottom:50px;
}
img{
    height:150px;
    width:150px;
    margin:20px;
    border-radius: 50%;
}
h2{
    margin-top:0px;
    display: inline-block;
    color:maroon;
    font-size: 25px;
    font-family: monospace;
}
.choose{
    margin-bottom: 100px;;
}
.choice{
    display:inline-block;
    height:150px;
    width:200px;
}
.count{
    display: inline-block;
    height:50px;
    width:65px;
    font-size: 25px;
    font-family: monospace;
    margin-right:30px;
}
.rock:hover, .paper:hover, .scissors:hover{
    outline:5px solid orange;
}
.tie{
    display:inline-block;
    height:40px;
    width:200px;
    background-color: rgb(64, 187, 228);
    border:3px solid blue;
    color:blue;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    border-radius:20px;
}
.lose{
    display:inline-block;
    height:40px;
    width:500px;
    background-color:orange;
    border:3px solid red;
    color:red;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    border-radius:20px;
}
.win{
    display:inline-block;
    height:40px;
    width:500px;
    background-color:lightgreen;
    border:3px solid darkgreen;
    color:darkgreen;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    border-radius:20px;
}