*{
    background-color:#151b23;
    box-sizing: border-box;
}
.github-logo{
    height:105.8px;
    display: flexbox;
    text-align: center;
    padding:32px 0px 24px 0px;
}
img{
    height:62px;
    width:62px;
    border-radius: 50%;
}
.sign-in-details{
    height:415.68px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:60px;
}
h2{
    width:288px;
    color:#F0F6FC;
    font-family: system-ui;
    font-weight: 100;
    text-align: center;
}
.details{
    border: 0.5px #3d444db3 solid;
    height: 218.4px;
    width:288px;
    background-color: #151b23;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    color:#F0F6FC;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 400;
    background-color: #151b23;
    display: flex;
    justify-content: space-between;
    margin-bottom:8px;
}
form{
    height:184.8px;
    width:254.4px;
    background-color: #151b23;
}
#detail{
    color:#F0F6FC;
    font-family: system-ui;
    font-weight: 100;
    font-size: 14px;
    width:254.4px;
    height:31.6px;
    background-color: #0D1117;
    border:0.5px #505964b3 solid;
    border-radius: 4px;
    margin:4px 0px 10px 0px;
}
#detail:focus{
    outline:2px solid #0668e7;
}
.a{
    text-decoration:none;
    color:#4493F8;
    font-size:12px;
    font-family:system-ui;
    font-weight:400;
}
#submit{
    height:31.6px;
    width:254.4px;
    margin-top:9px;
    background-color: #238636;
    color: white;
    font-family: system-ui;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
}
#submit:hover{
    background-color: #109b2c;
}
.passkey{
    height:79.6px;
    width:288px;
    border: 0.5px #3d444db3 solid;
    border-radius:6px;
    margin-top: 16px;   
    background-color: #0D1117;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pass{
    color:#4493F8;
    font-size: 14px;
    font-family: system-ui;
    font-weight:600;
    text-decoration: none;
    background-color: #0D1117;
}
p{
    color:#F0F6FC;
    font-size: 14px;
    font-family: system-ui;
    background-color: #0D1117;
}
.bottom{
    text-align: center;
}
.link{
   color: #9198A1;
   font-size: 12px;
   font-family: system-ui;
   text-decoration: none;
   margin-right:16px;
}
.link:hover{
    color: #4493F8;
    text-decoration: underline;
}