*{
    /* text-align: center;
    font:arial; */
    border:border-box;
    padding:0px;
    margin:0px;
}
.base{
    height:120vh;
    background-color: #0e3639;
    display:flex;
}

/* GREEN SIDE */

.green_base{
    height:120vh;
    width:800px;
    display:flex;
    align-items:center;
    justify-content: center;
    /* background-color: pink; */
}
.edx_logo{
    height:70px;
    width:70px;
    background-image: url("logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: start;
    position:relative;
    top:10px;
    right:100px;
}
.green_write{
    display:flex;
}
.yellow_line{
    height:170px;
    width:5px;
    background-color: yellow;
    transform: rotate(10deg);
    position:relative;
    top:45px;
}
.green_written{
    padding-left:50px;
    width:300px;
    font-size: 70px;
    letter-spacing: 0.5px;;
    font-family: helvetica;
    font-weight: 700;
    color:white;
}
.green_written div{
    color:#03c7e8;
}

/* WHITE SIDE */

.white_base{
    height:120vh;
    width:1100px;
    background-color: white;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    display:flex;
    /* justify-content: center; */
    align-items: center;
}
.data{
     z-index: 2;
     height:110vh;
     width:470px;
     position:relative;
     left:250px;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
}
.navbar{
    display:flex;
    border-bottom: 2px solid rgba(185, 179, 179, 0.673);
}
.navbar div{
    width:100px;
    height:43px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
}
.navbar div a{
    font-family: helvetica;
    color:#454545;
    font-weight:500;
    text-decoration: none;
}
.register{
    border-bottom:black solid 2px;
}
.navbar div:hover{
    background-color: #dededf;
}
.input-field{
    color:#454545;
    font-weight: lighter;
    padding-left:15px;
    height:40px;
    width:425px;
    font-family: helvetica;
}
.input-bar label{
    font-size: 16px;
    font-family: helvetica;
    color: #454545;
    font-weight: lighter;
    position:relative;
    bottom:30px;
    left:10px;
    transition: 0.2s;
    
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    rotate: z 45deg;
    bottom:50px;
    font-size: 13px;
    background-color: white;
    padding-left: 5px;
    padding-right:5px;
    transform:translateX(-50%);
}
/* label::after{
    bottom:50px;
    font-size: 13px;
    background-color: white;
    padding-left: 5px;
    padding-right:5px;
} */
.sign-in-button{
    height:43px;
    width:100px;
    background-color:#D23228;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in-button a{
    text-decoration: none;
    color:white;
    font-family: helvetica;
}
.sign-in-button:hover{
    background-color: #ab0d02;
}
.forgot{
    margin-left:40px;
}
.forgot a{
    color:#454545;
    font-size:18px;
    font-family: helvetica;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.button_forgot{
    display:flex;
    /* justify-content: center; */
    align-items: center;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos div{
    width:210px;
    height:35px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: helvetica;
    color:white;
    padding-left:10px;
}
.checkbox{
    font-size: 13px;
    font-family: helvetica;
    display: flex;
    align-items: center;
}

/* FIXED STICK */

.stick{
    height:48px;
    width:48px;
    background-color: rgb(14, 54, 57);
    border-radius:26px;
    position:fixed;
    bottom:33px;
    right:33px;
    display:flex;
    align-items:center;
    justify-content: center;
    border:3.5px solid rgb(14, 54, 57);
}
.xpert{
    height:32px;
    width:32px;
    background-image: url("signin_fixed_img_edx.svg");
    background-size:contain;
}
.stick:hover{
    border:3.5px solid rgb(152, 152, 152);
}